<!DOCTYPE html>
<html lang="pt"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Atividade: Listar</title>
</head>
<body>
    <h1>Atividades</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Tomatoes</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="atividade: ${atividades}" th:object="${atividade}">
                <td th:text="*{id}"></td>
                <td th:text="*{titulo}"></td>
                <td th:text="*{tomatoes}"></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>