<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Atividade: Nova</title>
</head>
<body>
    <form th:action="@{criar.html}" method="post" th:object="${atividade}">
        <label>Título: <input type="text" th:field="*{titulo}"></label>
        <strong th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></strong>
        <label>Tomatoes: <input type="number" th:field="*{tomatoes}"></label>
        <strong th:if="${#fields.hasErrors('tomatoes')}" th:errors="*{tomatoes}"></strong>
        <input type="submit" />
        <input type="reset" />
    </form>
    
</body>
</html>