<!DOCTYPE html>
<html lang="pt"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Atividade: Listar</title>
</head>
<body>
    <form>
        <label>Dificuldade mínima: <select name="min">
                <option th:each="opcao: ${opcoes}" th:object="${opcao}" th:value="*{key}" th:text="*{key+': '+value}" th:selected="${min==opcao.key}"></option>
            </select></label>

        <label>Dificuldade máxima: <select name="max">
                <option th:each="opcao: ${opcoes}" th:object="${opcao}" th:value="*{key}" th:text="*{key+': '+value}" th:selected="${max==opcao.key}"></option>
            </select></label>
            <input type="submit" />
    </form>
    <h1>Atividades</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Dificuldade</th>
                <th>Título</th>
                <th>Tomatoes</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="atividade: ${atividades}" th:object="${atividade}">
                <td th:text="*{id}"></td>
                <td th:text="*{dificuldade}"></td>
                <td th:text="*{titulo}"></td>
                <td th:text="*{tomatoes}"></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>